@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 * {
  font-family: "Roboto", sans-serif;
  background-color:rgb(255, 255, 255);
  color: #333333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
 header{
    background-color:rgb(200, 244, 255);
    color: white;
    text-aline: center;
}